<div class="content-wrapper">
  <div class="main-content">
    <div class="form-container">
      <div class="form-title">{{selectedProduct ? 'Editar Registro' : 'Formulario de Registro'}} </div>
      <form #form="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-row">
          <div class="form-column">
            <div class="form-control-group">
              <div class="field-title">ID <span class="required">*</span></div>
              <input
                [disabled]="disableId"
                (input)="onProductIdChange()"
                minlength="3"
                maxlength="10"
                [ngClass]="{invalid: productId.invalid && productId.touched}"
                [(ngModel)]="product.id"
                #productId="ngModel"
                name="productId"
                id="input-id"
                type="text"
                [required]="true"
                [attr.aria-invalid]="productId.invalid && productId.touched ? true : null"
              />
              <ng-container *ngIf="validating && productId.valid">
                <p class="input-validation">
                  Verificando id...
                </p>
              </ng-container>
              <ng-container *ngIf="!(isProductIdExisting$ | async)">
                <p class="input-validation error-text"
                  *ngIf="productId.invalid && productId.touched && !productId.errors?.['minlength']">
                  Este campo es obligatorio!
                </p>
                <p class="input-validation error-text" *ngIf="productId.errors?.['minlength']">
                  Se requiere mínimo 3 caracteres.
                </p>
              </ng-container>
              <ng-container *ngIf="(isProductIdExisting$ | async) && !validating">
                <p class="input-validation error-text">
                  ID no válido
                </p>
              </ng-container>
            </div>
            <div class="form-control-group">
              <div class="field-title">Nombre <span class="required">*</span></div>
              <input
                [ngClass]="{invalid: productName.invalid && productName.touched}"
                [(ngModel)]="product.name"
                #productName="ngModel"
                name="productName"
                id="input-name"
                type="text"
                [required]="true"
                minlength="5"
                maxlength="100"
                [attr.aria-invalid]="productName.invalid && productName.touched ? true : null"
              />
              <ng-container *ngIf="productName.invalid && productName.touched">
                <p class="input-validation error-text"
                  *ngIf="productName.invalid && productName.touched && !productName.errors?.['minlength']">
                  Este campo es obligatorio!
                </p>
                <p class="input-validation-text" *ngIf="productName.errors?.['minlength']">
                  Se requiere mínimo 5 caracteres.
                </p>
              </ng-container>
            </div>
          </div>

          <div class="form-column">
            <div class="form-control-group">
              <div class="field-title">Descripción <span class="required">*</span></div>
              <textarea
                [ngClass]="{invalid: productDescription.invalid && productDescription.touched}"
                [(ngModel)]="product.description"
                #productDescription="ngModel"
                name="productDescription"
                id="input-description"
                type="text"
                minlength="10"
                maxlength="100"
                [required]="true"
                [attr.aria-invalid]="productDescription.invalid && productDescription.touched ? true : null"
              ></textarea>
              <ng-container *ngIf="productDescription.invalid && productDescription.touched">
                <p class="input-validation error-text"
                  *ngIf="productDescription.invalid && productDescription.touched && !productDescription.errors?.['minlength']">
                  Este campo es obligatorio!
                </p>
                <p class="input-validation error-text" *ngIf="productDescription.errors?.['minlength']">
                  Se requiere mínimo 10 caracteres.
                </p>
              </ng-container>
            </div>
            <div class="form-control-group">
              <div class="field-title">Logo <span class="required">*</span></div>
              <input
                [ngClass]="{invalid: productLogo.invalid && productLogo.touched}"
                [(ngModel)]="product.logo"
                #productLogo="ngModel"
                name="productLogo"
                id="input-logo"
                type="text"
                [required]="true"
                [attr.aria-invalid]="productLogo.invalid && productLogo.touched ? true : null"
              />
              <ng-container *ngIf="productLogo.invalid && productLogo.touched">
                <p class="input-validation error-text" *ngIf="productLogo.invalid && productLogo.touched">
                  Este campo es obligatorio!
                </p>
              </ng-container>
            </div>
          </div>

          <div class="form-column">
            <div class="form-control-group">
              <div class="field-title">Fecha Liberación <span class="required">*</span></div>
              <input
                (input)="onDateChange($event)"
                [ngClass]="{invalid: productDateRelease.invalid && productDateRelease.touched}"
                [(ngModel)]="product.date_release"
                #productDateRelease="ngModel"
                name="productDateRelease"
                id="input-date-release"
                type="date"
                [required]="true"
                [min]="currentDate"
                [attr.aria-invalid]="productDateRelease.invalid && productDateRelease.touched ? true : null"
              />
              <ng-container *ngIf="productDateRelease.invalid && productDateRelease.touched">
                <p class="input-validation error-text"
                  *ngIf="productDateRelease.invalid && productDateRelease.touched">
                  Este campo es obligatorio!
                </p>
              </ng-container>
            </div>
            <div class="form-control-group">
              <div class="field-title">Fecha Revisión <span class="required">*</span></div>
              <input
                disabled
                [ngClass]="{invalid: productDateRevision.invalid && productDateRevision.touched}"
                [(ngModel)]="product.date_revision"
                #productDateRevision="ngModel"
                name="productDateRevision"
                id="input-date-revision"
                type="date"
                [required]="true"
                [attr.aria-invalid]="productDateRevision.invalid && productDateRevision.touched ? true : null"
              />
              <ng-container *ngIf="productDateRevision.invalid && productDateRevision.touched">
                <p class="input-validation error-text"
                  *ngIf="productDateRevision.invalid && productDateRevision.touched">
                  Este campo es obligatorio!
                </p>
              </ng-container>
            </div>
          </div>
        </div>

        <div class="form-actions">
          <button class="general-btn return" type="button" [routerLink]="''">Regresar</button>
          <button [disabled]="selectedProduct" class="general-btn reset" type="button" (click)="resetValues()">Reiniciar</button>
          <ng-container *ngIf="selectedProduct; else notSelected">
            <button [disabled]="!form.valid" class="general-btn" type="button" (click)="updateProduct()">Actializar</button>
          </ng-container>
          <ng-template #notSelected>
            <button [disabled]="!form.valid" class="general-btn" type="submit">Enviar</button>
          </ng-template>
        </div>
